@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,900;1,900&display=swap');

body {
  font-size: 14px;
}

h3 {
  margin: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans KR', sans-serif;
}

a {
  &:hover {
    color: #242424;
  }
  display: block;
  color: #242424;
  text-decoration: none;
  outline: none;
}

ul,
ol {
  list-style: none;
}

button {
  border: 0px;
  background: transparent;
  cursor: pointer;
}

img {
  display: block;
}

input:focus,
select:focus {
  outline: 0;
}

button:focus {
  outline: 0;
}

textarea {
  resize: none;
}

input {
  border: 0px;
}

select {
  border: 0px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  &::-ms-expand {
    display: none;
  }
}
